<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<script type="text/x-handlebars">



    {{#with App.personController}}
        {{view Ember.TextField placeholder="First Name" valueBinding="content.firstName"}}
        {{view Ember.TextField placeholder="Last Name" valueBinding="content.lastName"}}

        {{#if content.fullName}}
            <div>{{content.hello_text}}</div>
        {{/if}}
    {{/with}}



</script>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/handlebars.js"></script>
<script type="text/javascript" src="/static/js/ember.js"></script>

<script type="text/javascript">
    var App = Ember.Application.create();

    App.Person = Ember.Object.extend({
        firstName:'',
        lastName:'',

        fullName: function() {
            var firstName = this.get("firstName");
            var lastName = this.get("lastName");

            if (!firstName && !lastName) {
                return null;
            }

            return "%@ %@".fmt(firstName,lastName);
        }.property('firstName','lastName'),

        hello_text: function() {
            var fullName = this.get("fullName");
            var hello = "Hello my name is %@".fmt(fullName);
            return hello;
        }.property('fullName')
    });

    App.personController = Ember.ObjectController.create({
        content: App.Person.create()
    });
</script>

</body>
</html>