<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

<script type="text/x-handlebars">
    <button {{action "say_hello" target="App.person"}}>Say Hello</button>

</script>

<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/handlebars.js"></script>
<script type="text/javascript" src="/static/js/ember.js"></script>

<script type="text/javascript">
    var App = Ember.Application.create();

    App.Person = Ember.Object.extend({
        firstName:null,
        lastName:null,

        fullName: function() {
            var firstName = this.get("firstName");
            var lastName = this.get("lastName");
            return "%@ %@".fmt(firstName,lastName);
        }.property('firstName','lastName'),

        say_hello: function() {
            var fullName = this.get("fullName");
            var hello = "Hello my name is %@".fmt(fullName);
            alert(hello);
        }
    });

    App.person = App.Person.create({
        firstName:"Bob",
        lastName:"Jones"
    });


</script>

</body>
</html>