.main_title {
    font-size: 3em;
}

.sub_title {
    font-size: 2em;
}

.author {
    font-size: 1.5em;
}

.slide_title {
    font-size: 2em;
}

.bullet_item {
    margin-bottom: 10px;
    font-size: 1.7em;
}

iframe {
    width: 100%
}